/*Please include index.js in HTML code for using this.*/
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
#parent {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 512px;
}
#header {
  display: flex;
}
#btn {
  margin: 1em;
}
.chess-square {
  float: left;
  width: 64px;
  height: 64px;
}
.black {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece-black {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  background-color: black;
  cursor: pointer;
}

.piece-white {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}
.red-border {
  border: 2px solid red;
}
